<form method="post" action="{{ path('my_book_delete', {'id': my_book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ my_book.id) }}">
    <button class="btn">Delete</button>
</form>
