{% extends 'base.html.twig' %}

{% block title %}Edit MyBook{% endblock %}

{% block body %}
    <h1>Edit MyBook</h1>

    {{ include('my_book/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('my_book_index') }}">back to list</a>

    {{ include('my_book/_delete_form.html.twig') }}
{% endblock %}
