{% extends 'base.html.twig' %}

{% block title %}MyBook index{% endblock %}

{% block body %}
    <h1>MyBook index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Genre</th>
                <th>BookName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for my_book in my_books %}
            <tr>
                <td>{{ my_book.id }}</td>
                <td>{{ my_book.genre }}</td>
                <td>{{ my_book.bookName }}</td>
                <td>
                    <a href="{{ path('my_book_show', {'id': my_book.id}) }}">show</a>
                    <a href="{{ path('my_book_edit', {'id': my_book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('my_book_new') }}">Create new</a>
{% endblock %}
