{% extends 'base.html.twig' %}

{% block title %}New MyBook{% endblock %}

{% block body %}
    <h1>Create new MyBook</h1>

    {{ include('my_book/_form.html.twig') }}

    <a href="{{ path('my_book_index') }}">back to list</a>
{% endblock %}
