{% extends 'base.html.twig' %}

{% block title %}MyBook{% endblock %}

{% block body %}
    <h1>MyBook</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ my_book.id }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ my_book.genre }}</td>
            </tr>
            <tr>
                <th>BookName</th>
                <td>{{ my_book.bookName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('my_book_index') }}">back to list</a>

    <a href="{{ path('my_book_edit', {'id': my_book.id}) }}">edit</a>

    {{ include('my_book/_delete_form.html.twig') }}
{% endblock %}
